@import url('https://fonts.googleapis.com/css?family=Sen:400,700&display=swap');
html {
  scroll-behavior: smooth;
}

body {
  background-color: #eee;
  color: #222;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  font-family: 'Sen', sans-serif;
}

.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #111;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  height: 60px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.top-nav .back {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 0;
  height: 100%;
  width: 60px;
  color: #222;
  text-align: center;
  background-color: #eee;
  font-size: 25px;
  cursor: pointer;
}

.top-nav .dark-switch {
  right: 10%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 20px;
}

.top-nav .dark-switch p {
  color: #ddd;
  font-size: 15px;
  font-weight: 800;
}

.top-nav .dark-switch .switch {
  width: 40px;
  background-color: #eee;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3) inset;
  padding: 1px;
  height: 17px;
  border-radius: 20px;
  margin-left: 20px;
  position: relative;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.top-nav .dark-switch .switch .switch-btn {
  position: absolute;
  left: -10%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 23px;
  width: 23px;
  background-color: #007bff;
  border-radius: 50%;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.header {
  padding-top: 100px;
  margin: 0;
  color: #ddd;
  border-radius: 0;
  background-color: #111;
}

.header .author {
  font-size: 30px;
  color: #aaa;
  font-weight: 700;
}

.header .git-btn {
  text-align: right;
}

.header .dsc {
  color: #ddd;
  text-transform: capitalize;
}

.header .dsc-sm {
  text-transform: none;
  font-size: 13px;
}

.project-logo {
  width: 100%;
}

.project-logo img {
  max-width: 400px;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.myimg {
  max-width: 200px;
  display: inline-block;
  margin-top: 15px;
  padding: 5px;
}

.myimg img {
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  max-height: 250px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.myimg img:hover {
  -webkit-box-shadow: 0px 0px 8px #555;
  box-shadow: 0px 0px 8px #555;
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

.nav-xs-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: none;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  bottom: 0;
  height: 100vh;
  overflow-y: auto;
  padding-top: 30px;
  background-color: #eee;
  z-index: 5;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

nav a,
nav a:hover,
nav a:link,
nav a:active,
nav a:visited {
  text-decoration: inherit;
  font-style: inherit;
  color: inherit;
}

nav .links {
  padding: 40px 0;
}

nav .links li {
  font-weight: 800;
  padding: 7px 30px;
  margin: 8px 0;
  list-style-type: none;
  font-size: 1.2em;
  text-align: right;
  position: relative;
  cursor: pointer;
}

.doc-content {
  padding: 80px;
  padding-top: 0;
}

.doc-content .section {
  padding: 0px;
}

.doc-content hr {
  border-top: 2px solid #999;
  padding: 0;
}

.doc-content code {
  font-size: 18px;
  font-weight: 700;
}

.doc-content pre {
  background-color: #ddd;
  font-weight: 200;
}

.doc-content pre code {
  font-weight: 200;
}

.doc-content p {
  font-size: 20px;
  line-height: 2em;
}

.doc-content p .bullet-nums {
  opacity: 0.4;
  font-weight: 700;
  font-size: 22px;
}

.doc-content p .ver-bar {
  margin-right: 10px;
  padding: 2px;
  background-color: #ffc107;
}

.doc-content .main-heading {
  padding-top: 80px;
  font-weight: 800;
  font-size: 30px;
  position: relative;
  display: inline-block;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.doc-content .main-heading::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  height: 5px;
  background-color: #007bff;
}

.doc-content .secondary-heading {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: 700;
}

.doc-content .point-heading {
  font-weight: 700;
  color: #007bff;
}

.doc-content table {
  color: inherit;
}

.doc-content table .col-md-4 {
  padding: 12px 0;
}

.doc-content table tbody {
  font-size: 18px;
}

.doc-content table td {
  border: 0;
}

.doc-content table tr {
  border-bottom: 1px solid #888;
}

.doc-content table thead {
  position: -webkit-sticky;
  position: sticky;
  background-color: #eee;
  top: 60px;
  z-index: 1;
  font-size: 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  font-weight: 700;
}

.doc-content table thead tr {
  border-width: 0px;
  -webkit-box-shadow: 0 5px 10px #eee;
  box-shadow: 0 5px 10px #eee;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: underline;
}

.doc-content .list p {
  line-height: 25px;
}

.mybtn {
  padding: 15px 20px;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  max-width: 300px;
  border: 0px;
  background-image: linear-gradient(80deg, #007bff, #ab55f2, #c855f2);
  color: #fff;
  border-radius: 30px;
}

.mybtn .fa-github {
  font-size: 25px;
}

@media only screen and (max-width: 768px) {
  .mybtn {
    font-size: 15px;
    padding: initial 10px;
    width: auto;
    margin-top: 10px;
  }
  .mybtn .fa-github {
    font-size: 18px;
  }
  .header .git-btn {
    text-align: left;
  }
  .doc-content {
    padding: 40px;
  }
}

@media only screen and (max-width: 576px) {
  .header .author {
    font-size: 25px;
  }
  #demo {
    padding-top: 20px;
  }
  .myimg {
    max-width: 130px;
    margin: 0;
  }
  nav {
    position: fixed;
    width: 70%;
    padding-bottom: 0;
    -webkit-box-shadow: 2px 0 20px rgba(0, 0, 0, 0.6);
    box-shadow: 2px 0 20px rgba(0, 0, 0, 0.6);
    -webkit-transform: translateX(-110%);
    transform: translateX(-110%);
  }
  .doc-content {
    padding: 35px;
  }
}

@media only screen and (max-width: 330px) {
  .mybtn {
    font-size: 13px;
    padding: initial 10px;
    width: auto;
  }
}
/*# sourceMappingURL=style.css.map */
